[submodule "public"]
	path = public
	url = git@github.com:idreamshen/idreamshen.github.io.git
	branch = master
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = git@github.com:joway/hugo-theme-yinyang.git
